/*.carrito-contanier{
        
            position: top;
            width: 10rem;
            height: 10rem;
      }
         

      .carrito {
        width: 0rem;
        height: 0rem;
        background: blue;
        position: absolute;
        transform: translate(-50%, -50%); 
      }
      .carrito:hover {
        filter: none;
      }

        */
        section{

          list-style: none;
          padding: 0;
          margin: 0;
          width: 100%;
          
  
    }      
  
  .carrito-container {
      
      position: fixed;
      top: 4rem;
      right: 4rem;
      width: 6.6rem;
      height: 6.6rem;
      z-index: -1;
  
  }
  
  
  .carrito-button {
      width: 0rem;
      height: 0rem;
      background-color: hsla(245, 51%, 65%, 0.4); 
      border-radius: 10%;
      transition: 0.2s; 
      position: absolute;
      top: 50%; 
      left: 50%;
      z-index: -1;
      
  }
  button:focus{
      outline: 0;
  }    
  
  /*
            .button-carrito{
  
          
              cursor: pointer;
              position: relative;
              top: 50%; 
              left: 50%;
          
              z-index: -1; /*Ocupa el eje Z por lo que se muestra debajo de otros elementos*/
  
  
  /*.carrito-container:hover .carrito-image {
              filter: hue-rotate(180deg); /* Cambia el color de la imagen 
            }
            */
  &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
      opacity: 0;
      transition: all 6000ms ease;
  }
  
  .icon {
      width: 32px;
      margin-right: 32px;
      top: 50%;
      left: 50%;
      filter: brightness(0) saturate(100%) invert(64%) sepia(7%) saturate(336%) hue-rotate(289deg) brightness(97%) contrast(85%);
      cursor: pointer;
      z-index: -1;
  }
  
  &.active,
  &:hover {
      background-color: hsla(245, 51%, 65%, 0.4);
      color: hsla(270, 84%, 27%, 0.9);
      /*#2e0854*/
  
      &::before {
          opacity: 1;
      }
  
      .icon {
          filter: brightness(0) saturate(100%) invert(5%) sepia(57%) saturate(7479%) hue-rotate(271deg) brightness(96%) contrast(102%);
  
  
      }
  }
  .show {
      z-index: 10; /*Animacion de cuando clickeo en el boton*/
  }
   
  .show .carrito-button {
      animation: popup 0.3s ease-in-out; /*Animaacion del boton*/
      width: 6.6rem;  /*Tamaño final*/
      height: 6.6rem;
      z-index: 11;
  }
   
  .show img {
      transform: translate(-50%, -50%) scale(0.1);
  }
   
  @keyframes popup {
      0% {
          width: 0;
          height: 0;
      }
      50% {
          width: 8rem;  /*En esta parte creamos la animacion de pequeño a grande*/
          height: 8rem;
      }
      100% {
          width: 6.6rem;
          height: 6.6rem;
      }
  }
  
  
  @media screen and (max-width:900px){ /*Parte responsive*/
  
      .carrito-container {
          bottom: 3rem;
          right: 3rem;
      }
      .show .carrito-button {
          width: 4.5rem;
          height: 4.5rem;
      }
      .show img {
          transform: translate(-50%, -50%) scale(0.05);
      }/*Las imagenes se reducen a la mitad para ajustarse*/
  
      @keyframes popup {
          0% {
              width: 0;
              height: 0;
          }/*Se adaptaa tambien la animacion del boton, esta vez con valores minimos*/
          50% {
              width: 5rem;
              height: 5rem;
          }
          100% {
              width: 4.5rem;
              height: 4.5rem;
          }
      }
  
  }
  @media screen and (max-width:500px){
  
      .carrito-container   {  /*Para el ultimo reduce el conenedor*/
          bottom: 1.5rem;
          right: 1.5rem;
      }
  
  }
  
  /*2023/05/23 18:25*/