
html{
    scroll-behavior: smooth; /* hace que el desplazamiento sea suave */
}

html::-webkit-scrollbar {
    display: none;
   }
html:hover::-webkit-scrollbar {
    display: initial;
   }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --darklBlue:#fff;
    --titulo:#642a73;
    --fondo1:#bc4e9c;
    --fondo2:#1F1F3C;
    
    /*TEMAS HEADER*/

    /*TEMA 1
    --color_alto:hsla(340, 95%, 50%, 0.459);
    --color_medio:hsla(317, 45%, 52%, 0.664);
    --color_bajo:#bc4e9c;
*/
    /*TEMA 2*/
    --color_alto:hsla(270, 84%, 27%, 0.9);
    --color_medio:hsla(245, 51%, 65%, 0.4);
    --color_bajo:#efb3ff;

    /**/

}
body {
    font-family: 'open sans';
}

ul{ /* Quita los puntos que por defecto da la clase ul */
    list-style:none;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: var(--titulo);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

#header {
    width: 100%;
    height: 600px;
    background: var(--color_bajo);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--color_alto), var(--color_medio)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--color_alto), var(--color_medio)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* Menu */

#nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

#nav > a{
    color:#fff;
    text-decoration: none;
    font-size: x-large;
    margin-right: 15px;
}

#nav > a:hover{
    text-decoration: underline;
}

#header #textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#textos-header h1{
    font-size: 50px;
    color:#fff;
}

#textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

#wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Sobre nosotros */

#sobre-nosotros{
    padding: 30px 0 60px 0;
    display:flex;
    flex-wrap:wrap;
}

#sobre-nosotros h2{
    width:100%; /* esto le permite agregarle el centrado de la clase titulo */
}

#sobre-nosotros picture{
    width:50%; /*  */
    text-align: right;
}

#sobre-nosotros picture img{
    width: 60%; /*  */
}

#sobre-nosotros article{
    flex:0.6;
    width:30%;
    display:flex;
    flex-direction:column;
    gap:1rem;
    font-family:sans-serif;
    padding:1rem;
  }
  
  #sobre-nosotros article span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
  }

  #sobre-nosotros article p{
    padding: 0px 0px 30px 15px;
    font-weight: 100;
    color: #5c5c5c;
    text-align: justify;
  }

/* Portafolio */

#portafolio{
    background: #f2f2f2;
    padding: 60px 0;
    width: 100%;
}

#galeria-port{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}
 /* */
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > a > picture > img{
    width: 100%;
    height: 100%;
    padding: 20%;
    object-fit: cover;
    display: block;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    text-align: center;
    color: #fff;
}

/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

#servicios{
    background: #f2f2f2;
    padding-top: 60px;
}


#servicio-cont{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    padding-top: 0%;
}

.servicio-ind{
    width: 28%;
    /*
    height: 300px;
    */
    text-align: center;
}

.servicio-ind > picture > img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

#footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    #header{
        background-position: center;
    }

    #sobre-nosotros{
        display: grid;
    }

    #sobre-nosotros picture{
        text-align: center;
        width:100%; 
    }

    #sobre-nosotros picture img{
        width: 50%; /*  */
    }

    #sobre-nosotros article{
        width:100%;
    }
    
    /* Galeria */

    #galeria-port {
    width: 70%;
    }

    .hover-galeria {
    pointer-events: none; /*quita el efecto del hover*/
    }

    .hover-galeria{
        transform: scale(1);
        background: none;
        transition: none;
    }

    .hover-galeria img{
        width: 0%;
    }

    .hover-galeria p{
        font-size: 18px;
        text-align: center;
        padding-top: 65%;
        font-weight: 900;
        color: #5c5c5c;
    }

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    #servicio-cont{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /* 
        height: 100%;
        */
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind{
        margin-bottom: 60px;
    }

    .servicio-ind > picture > img{
        width: 50%;
    }
}

@media screen and (max-width:500px){

    #header {
        height: 450px;
    }

    #header #textos-header {
        height: 250px;
    }

    #nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    #nav > a{
        margin-right: 5px;
        font-size: medium;
    }

    #textos-header h1{
        font-size: 35px;
    }

    #textos-header h2{
        font-size: 20px;
    }

    /* Galeria */
    #galeria-port {
    width: 80%;
    }

    .hover-galeria p{
        font-size: 12px;
        text-align: center;
        padding-top: 65%;
        font-weight: 600;
        color: #5c5c5c;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}