/*
Codigo extraido de:
https://ugbtuts.com/como-crear-un-boton-de-ir-arriba-con-html-css-y-javascript/
*/

:root{
    --fondo1:hsla(245, 51%, 65%, 0.4);
    --fondo2:hsla(270, 84%, 27%, 0.9);
}

.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}
 
.go-top-button {
    width: 0rem;
    height: 0rem;
    background: var(--fondo2);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
 
.go-top-button img {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s;
}
 
.show {
    z-index: 10;
}
 
.show .go-top-button {
    animation: popup 0.3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;
}
 
.show img {
    transform: translate(-50%, -50%) scale(0.1);
}
 
@keyframes popup {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 8rem;
        height: 8rem;
    }
    100% {
        width: 6.6rem;
        height: 6.6rem;
    }
}

@media screen and (max-width:900px){

    .go-top-container {
        bottom: 3rem;
        right: 3rem;
    }
    .show .go-top-button {
        width: 4.5rem;
        height: 4.5rem;
    }
    .show img {
        transform: translate(-50%, -50%) scale(0.05);
    }

    @keyframes popup {
        0% {
            width: 0;
            height: 0;
        }
        50% {
            width: 5rem;
            height: 5rem;
        }
        100% {
            width: 4.5rem;
            height: 4.5rem;
        }
    }

}
@media screen and (max-width:500px){

    .go-top-container {
        bottom: 1.5rem;
        right: 1.5rem;
    }

}