.message {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-top: 5px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;


}

.error-message {
  background-color: rgba(255, 0, 0, 0.8);
}

.success-message {
  background-color: rgba(0, 255, 0, 0.8);
}

.message p {
  margin: 0;
  flex: 1;
}

.message button {
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.message button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
