.message {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-top: 5px;
  transform: translate(-50%, -50%);
  color: var(--darklBlue);
  padding: 20px;
  border-radius: 10px;

  display: flex;
  align-items: center;
}

.error-message {
  background-color: red; 
}

.success-message {
  background-color: green; 
}

.message p {
  margin: 0;
  flex: 1;
}

.message button {
  border: none;
  background-color: transparent;
  color: var(--darklBlue);
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.message button:hover {
  background-color: var(--color_medio);
}
