<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../carrito/src/Carrito.css">
    <script type="module" src="/src/main.jsx"></script>
    <title>Prueba</title>
    

</head>

<body>
    <header>
        
    </header>    
 <section> 
    <div>
        <div class="carrito-contanier">
            <div class="carrito-button">
                <img class="icon icon-dashboard" src="/shopping-cart.svg"
                    alt="carrito">
            </div>
        </div>
        <!--src="../carro/carrito1.png"-->
        
      </div>
      <div class="container">
        <div class="box">
          <img src="/A.jpg" alt="a">
          <h3>Producto A</h3>
          <p>Descripcion</p>
        </div>
        <div class="box">
          <img src="/bike.jpg" alt="b">
          <h3>Producto B</h3>
          <p>Description</p>
        </div>
        
      </div>

    </section>
   </body>
   
   </html>
